<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>franklinao HNG Internship project</title>
</head>
<body>
    <form action="{% url 'hello' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Please enter your name...">
        <br>
        <input type="text" name="city" placeholder="Please enter your city...">

        <button>submit</button>
    </form>

    
</body>
</html>